<base href="/">

<!--Footer Start-->
<footer id="footer">
    <div class="fpart-first">
      <div class="container">
        <div class="row">
          <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h5>Sobre a Game Mania</h5>
            <p>Fundado em 2018, a Game Mania foi uma das pioneiras no comércio eletrônico brasileiro e hoje é a maior e-commerce do segmento de tecnologia na América Latina. Desde sua criação, a empresa é formada por histórias e conquistas de um time obcecado por agilidade, qualidade de atendimento, velocidade de entrega e respeito pelo consumidor.</p>
            <img alt="" src="../../../assets/image/logo-small.png">
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>Informações</h5>
            <ul>
              <li><a href="about-us.html">Sobre Nós</a></li>
              <li><a href="about-us.html">Informações de Entrega</a></li>
              <li><a href="about-us.html">Política de Privacidade</a></li>
              <li><a href="about-us.html">Termos &amp; Condições</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>Serviços do Consumidor</h5>
            <ul>
              <li><a href="contact-us.html">Contate-nos</a></li>
              <li><a href="#">Reembolso</a></li>
              <li><a href="sitemap.html">Mapa do Site</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>Extras</h5>
            <ul>
              <li><a href="#">Marcas</a></li>
              <li><a href="#">Vale Presente</a></li>
              <li><a href="#">Patrocícios</a></li>
              <li><a href="#">Especiais</a></li>
            </ul>
          </div>
          <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <h5>Conta</h5>
            <ul>
              <li><a href="#">Minha Conta</a></li>
              <li><a href="#">Histórico de Pedidos</a></li>
              <li><a href="#">Lista de Desejos</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="fpart-second">
      <div class="container">
        <div id="powered" class="clearfix">
          <div class="powered_text pull-left flip">
            <p>Game Mania © 2021 | Criado por <a href="https://github.com/reaperclown" rel="noopener" target="_blank">Willian Mesquita</a></p>
          </div>
          <div class="social pull-right flip"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/socialicons/facebook.png" alt="Facebook" title="Facebook"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/socialicons/google_plus.png" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/socialicons/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/socialicons/rss.png" alt="RSS" title="RSS"> </a> </div>
        </div>
        <div class="bottom-row">
          <div class="custom-text text-center">
            <p>Este projeto nada mais é que uma simulação de uma loja virtual que será apresentado como trabalho escolar na escola de cursos técnicos Senai “Engº Octavio Marcondes Ferraz“, para o curso EAD Programador Front-End.

              Nenhum conteúdo neste site deve ser levado à sério, todo o conteúdo aqui é de propósito fictício, ou seja, os conteúdos e produtos contidos aqui são de mera ilustração e nenhuma compra e/ou preço de produto deve ser considerado real.</p>
          </div>
          <div class="payments_types"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/payment/payment_paypal.png" alt="paypal" title="PayPal"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/payment/payment_american.png" alt="american-express" title="American Express"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/payment/payment_2checkout.png" alt="2checkout" title="2checkout"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/payment/payment_maestro.png" alt="maestro" title="Maestro"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/payment/payment_discover.png" alt="discover" title="Discover"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="../../../assets/image/payment/payment_mastercard.png" alt="mastercard" title="MasterCard"></a> </div>
        </div>
      </div>
    </div>
  </footer>
  <!--Footer End-->