<base href="/">

<div id="container">
    <div class="container">
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-xs-12">
          <!-- Slideshow Start-->
          <div class="slideshow single-slider owl-carousel">
            <div class="item"> <a href="#"><img class="img-responsive" src="../../../assets/image/slider/banner-2.jpg" alt="Promoção 1" /></a> </div>
            <div class="item"> <a href="#"><img class="img-responsive" src="../../../assets/image/slider/banner-1.jpg" alt="Promoção 2" /></a> </div>
          </div>
          <!-- Slideshow End-->
          <!-- Banner Start-->
          <div class="marketshop-banner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="https://s3-eu-west-1.amazonaws.com/cdn1.mullenlowegroup.com/uploads/2016/12/example-300x300.png" alt="Produto em Destaque 1" title="Produto em Destaque 1" /></a></div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="https://s3-eu-west-1.amazonaws.com/cdn1.mullenlowegroup.com/uploads/2016/12/example-300x300.png" alt="Produto em Destaque 2" title="Produto em Destaque 2" /></a></div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="https://s3-eu-west-1.amazonaws.com/cdn1.mullenlowegroup.com/uploads/2016/12/example-300x300.png" alt="Produto em Destaque 3" title="Produto em Destaque 3" /></a></div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"><a href="#"><img src="https://s3-eu-west-1.amazonaws.com/cdn1.mullenlowegroup.com/uploads/2016/12/example-300x300.png" alt="Produto em Destaque 4" title="Produto em Destaque 4" /></a></div>
            </div>
          </div>
          <!-- Banner End-->
          <!-- Product Tab Start -->
          <div id="product-tab" class="product-tab">
  <ul id="tabs" class="tabs">
    <li><a class="tab-menu-entry" href="#tab-featured">Destaques</a></li>
    <li><a class="tab-menu-entry" href="#tab-latest">Mais Recentes</a></li>
    <li><a class="tab-menu-entry" href="#tab-bestseller">Mais Vendidos</a></li>
    <li><a class="tab-menu-entry" href="#tab-special">Especiais</a></li>
  </ul>
  <div id="tab-featured" class="tab_content">
      <div class="owl-carousel product_carousel_tab">
            <div class="product-thumb clearfix">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/apple_cinema_30-220x330.jpg" alt="Computador ASUS ROG i7 RTX3060" title="Computador ASUS ROG i7 RTX3060" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Computador ASUS ROG i7 RTX3060</a></h4>
                <p class="price"><span class="price-new">R$ 7.110,00</span> <span class="price-old">R$ 8.000,00</span><span class="saving">-12%</span></p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('42');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/samsung_tab_1-220x330.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Aspire Ultrabook Laptop</a></h4>
                <p class="price"> <span class="price-new">R$ 4.000,00</span> <span class="price-old">R$ 4.200,00</span> <span class="saving">-5%</span> </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('49');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/sony_vaio_1-220x330.jpg" alt="Oculus Quest 2" title="Oculus Quest 2" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Oculus Quest 2</a></h4>
                <p class="price"> <span class="price-new">R$ 3.200,00</span> <span class="price-old">R$ 4.000,00</span> <span class="saving">-25%</span> </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('46');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_1-220x330.jpg" alt="Ideapad Yoga Laptop" title="Ideapad Yoga Laptop" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Ideapad Yoga Laptop</a></h4>
                <p class="price"> R$ 4.400,00 </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('43');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/iphone_1-220x330.jpg" alt="iPhone 5" title="iPhone 5" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">iPhone 5</a></h4>
                <p class="price"> R$ 4.050,00 </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/canon_eos_5d_1-220x330.jpg" alt="Playstation 4" title="Playstation 4" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Playstation 4</a></h4>
                <p class="price"> <span class="price-new">R$ 4.050,00</span> <span class="price-old">R$ 4.860,00</span> <span class="saving">-20%</span> </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
          </div>
  </div>
  
  <div id="tab-latest" class="tab_content">
    <div class="owl-carousel product_carousel_tab">
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_2-220x330.jpg" alt="Oculus Quest 2" title="Oculus Quest 2" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Oculus Quest 2</a></h4>
                <p class="price"> R$ 2.050,00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_3-220x330.jpg" alt="Motorola Moto G100" title="Motorola Moto G100" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Motorola Moto G100</a></h4>
                <p class="price"> R$ 3.200,00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_4-220x330.jpg" alt="Smarthwatch Mi Watch Lite" title="Smarthwatch Mi Watch Lite" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Smarthwatch Mi Watch Lite</a></h4>
                <p class="price"> R$ 400,00 </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/iphone_6-220x330.jpg" alt="X Box Series S" title="X Box Series S" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">X Box Series S</a></h4>
                <p class="price"> R$ 4.200,00 </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/nikon_d300_5-220x330.jpg" alt="Nintendo Switch" title="Nintendo Switch" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Nintendo Switch</a></h4>
                <p class="price"> <span class="price-new">R$ 5.200,00</span> <span class="price-old">R$ 6.600,00</span> <span class="saving">-27%</span> </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/nikon_d300_4-220x330.jpg" alt="Monitor Samsung Curvado 4k" title="Monitor Samsung Curvado 4k" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Monitor Samsung Curvado 4k</a></h4>
                <p class="price"> R$ 3.500,00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href=""><img src="../../../assets/image/product/macbook_5-220x330.jpg" alt="Mouse Razer Mamba" title="Mouse Razer Mamba" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Mouse Razer Mamba</a></h4>
                <p class="price"> <span class="price-new">R$ 400,00</span> <span class="price-old">R$ 410,00</span> <span class="saving">-4%</span> </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick="wishlist.add('61');"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick="compare.add('61');"><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
          </div>
  </div>
  <div id="tab-bestseller" class="tab_content">
    <div class="owl-carousel product_carousel_tab">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/FinePix-Long-Zoom-Camera-220x330.jpg" alt="Playstation 5" title="Playstation 5" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Playstation 5</a></h4>
                      <p class="price"> R$ 5.850,00 </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/nikon_d300_1-220x330.jpg" alt="Xbox Series X" title="Xbox Series X" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Xbox Series X</a></h4>
                      <p class="price"> <span class="price-new">R$ 6.627,00</span> <span class="price-old">R$ 7.050,00</span> <span class="saving">-6%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
  </div>
  <div id="tab-special" class="tab_content">
    <div class="owl-carousel product_carousel_tab">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/ipod_touch_1-220x330.jpg" alt="Samsung Galaxy S21 Ultra" title="Samsung Galaxy S21 Ultra" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Samsung Galaxy S21 Ultra</a></h4>
                      <p class="price"> <span class="price-new">R$ 3.999,00</span> <span class="price-old">R$ 5.999,00</span> <span class="saving">-50%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb">
              <div class="image"><a href=""><img src="../../../assets/image/product/macbook_5-220x330.jpg" alt="Mouse Razer Mamba" title="Mouse Razer Mamba" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Mouse Razer Mamba</a></h4>
                <p class="price"> <span class="price-new">R$ 400,00</span> <span class="price-old">R$ 410,00</span> <span class="saving">-4%</span> </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick="wishlist.add('61');"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick="compare.add('61');"><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_air_1-220x330.jpg" alt="Notebook Acer Nitro 5" title="Notebook Acer Nitro 5" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Notebook Acer Nitro 5</a></h4>
                      <p class="price"> <span class="price-new">R$ 5.999,00</span> <span class="price-old">R$ 6.299,00</span> <span class="saving">-5%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb clearfix">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/apple_cinema_30-220x330.jpg" alt="Headset Astro A50" title="Headset Astro A50" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Headset Astro A50</a></h4>
                <p class="price"><span class="price-new">R$ 2.050,00</span> <span class="price-old">R$ 2.225,00</span><span class="saving">-10%</span></p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('42');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_pro_1-220x330.jpg" alt=" Cadeira Gamer DX Racer " title=" Cadeira Gamer DX Racer " class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html"> Cadeira Gamer DX Racer </a></h4>
                      <p class="price"> <span class="price-new">R$ 3.099,00</span> <span class="price-old">R$ 3.905,00</span> <span class="saving">-26%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/samsung_tab_1-220x330.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Aspire Ultrabook Laptop</a></h4>
                      <p class="price"> <span class="price-new">R$ 4.000,00</span> <span class="price-old">R$ 4.200,00</span> <span class="saving">-5%</span> </p>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
    
  </div>
</div>    <!-- Product Tab Start -->
          <!-- Banner Start -->
          <div class="marketshop-banner">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ahmzxB100uAyO9FFaN97q-6c7LjlQSVibygkzwBUrHXPtgRGZr6j5fo2C-EHW2qU5uA&usqp=CAU" alt="2 Block Banner" title="2 Block Banner" /></a></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9ahmzxB100uAyO9FFaN97q-6c7LjlQSVibygkzwBUrHXPtgRGZr6j5fo2C-EHW2qU5uA&usqp=CAU" alt="2 Block Banner 1" title="2 Block Banner 1" /></a></div>
            </div>
          </div>
          <!-- Banner End -->
          <!-- Categories Product Slider Start-->
          <div class="category-module" id="latest_category">
            <h3 class="subtitle">Categorias - <a class="viewall" href="category.tpl">ver tudo</a></h3>
            <div class="category-module-content">
              <ul id="sub-cat" class="tabs">
                <li><a href="#tab-cat1">PC</a></li>
                <li><a href="#tab-cat2">Consoles</a></li>
                <li><a href="#tab-cat3">Eletrônicos</a></li>
                <li><a href="#tab-cat4">VR</a></li>
                <li><a href="#tab-cat5">Periféricos</a></li>
                <li><a href="#tab-cat6">Vídeo & Outros</a></li>
              </ul>
              <div id="tab-cat1" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/samsung_tab_1-220x330.jpg" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Aspire Ultrabook Laptop</a></h4>
                      <p class="price"> <span class="price-new">R$ 4.000,00</span> <span class="price-old">R$ 4.200,00</span> <span class="saving">-5%</span> </p>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_air_1-220x330.jpg" alt="Notebook Acer Nitro 5" title="Notebook Acer Nitro 5" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Notebook Acer Nitro 5</a></h4>
                      <p class="price"> <span class="price-new">R$ 5.999,00</span> <span class="price-old">R$ 6.299,00</span> <span class="saving">-5%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_1-220x330.jpg" alt="Ideapad Yoga Laptop" title="Ideapad Yoga Laptop" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Ideapad Yoga Laptop</a></h4>
                      <p class="price"> R$ 4.400,00 </p>
                      <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/ipod_shuffle_1-220x330.jpg" alt="Notebook Dell G15 5511" title="Notebook Dell G15 5511" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Notebook Dell G15 5511</a></h4>
                      <p class="price"> R$ 6.100,00 </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div id="tab-cat2" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/FinePix-Long-Zoom-Camera-220x330.jpg" alt="Playstation 5" title="Playstation 5" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Playstation 5</a></h4>
                      <p class="price"> R$ 4.550,00 </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/nikon_d300_1-220x330.jpg" alt="Xbox Series X" title="Xbox Series X" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Xbox Series X</a></h4>
                      <p class="price"> <span class="price-new">$92.00</span> <span class="price-old">R$ 4.050,00</span> <span class="saving">-6%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-cat3" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/ipod_touch_1-220x330.jpg" alt="Samsung Galaxy S21 Ultra" title="Samsung Galaxy S21 Ultra" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Samsung Galaxy S21 Ultra</a></h4>
                      <p class="price"> <span class="price-new">R$ 3.999,00</span> <span class="price-old">R$ 4.550,00</span> <span class="saving">-50%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-cat4" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_2-220x330.jpg" alt="Oculus Quest 2" title="Oculus Quest 2" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Oculus Quest 2</a></h4>
                      <p class="price"> R$ 2.050,00 </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-cat5" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_2-220x330.jpg" alt="Mouse Logitech G403" title="Mouse Logitech G403" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Mouse Logitech G403</a></h4>
                      <p class="price"> R$ 215,00 </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="image"><a href=""><img src="../../../assets/image/product/macbook_5-220x330.jpg" alt="Mouse Razer Mamba" title="Mouse Razer Mamba" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Mouse Razer Mamba</a></h4>
                      <p class="price"> <span class="price-new">R$ 400,00</span> <span class="price-old">R$ 410,00</span> <span class="saving">-4%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick="wishlist.add('61');"><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick="compare.add('61');"><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
              <div id="tab-cat6" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_pro_1-220x330.jpg" alt=" Cadeira Gamer DX Racer " title=" Cadeira Gamer DX Racer " class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html"> Cadeira Gamer DX Racer </a></h4>
                      <p class="price"> <span class="price-new">R$ 3.099,00</span> <span class="price-old">R$ 3.905,00</span> <span class="saving">-26%</span> </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="product-thumb">
                    <div class="image"><a href="product.html"><img src="../../../assets/image/product/nikon_d300_4-220x330.jpg" alt="Monitor Samsung Curvado 4k" title="Monitor Samsung Curvado 4k" class="img-responsive" /></a></div>
                    <div class="caption">
                      <h4><a href="product.html">Monitor Samsung Curvado 4k</a></h4>
                      <p class="price"> R$ 3.500,00 </p>
                    </div>
                    <div class="button-group">
                      <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                      <div class="add-to-links">
                        <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                        <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Categories Product Slider End-->
          
          <!-- Categories Product Slider Start -->
          <h3 class="subtitle">Promoção de Fim de Ano - <a class="viewall" href="category.html">ver tudo</a></h3>
          <div class="owl-carousel latest_category_carousel">
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/iphone_6-220x330.jpg" alt="X Box Series S" title="X Box Series S" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">X Box Series S</a></h4>
                <p class="price"> R$ 4.200,00 </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/nikon_d300_5-220x330.jpg" alt="Nintendo Switch" title="Nintendo Switch" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Nintendo Switch</a></h4>
                <p class="price"> <span class="price-new">R$ 5.200,00</span> <span class="price-old">R$ 6.600,00</span> <span class="saving">-27%</span> </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/nikon_d300_4-220x330.jpg" alt="Monitor Samsung Curvado 4k" title="Monitor Samsung Curvado 4k" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Monitor Samsung Curvado 4k</a></h4>
                <p class="price"> R$ 3.500,00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href=""><img src="../../../assets/image/product/macbook_5-220x330.jpg" alt="Mouse Razer Mamba" title="Mouse Razer Mamba" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Mouse Razer Mamba</a></h4>
                <p class="price"> <span class="price-new">R$ 400,00</span> <span class="price-old">R$ 410,00</span> <span class="saving">-4%</span> </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick="cart.add('61');"><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick="wishlist.add('61');"><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick="compare.add('61');"><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_4-220x330.jpg" alt="Smarthwatch Mi Watch Lite" title="Smarthwatch Mi Watch Lite" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Smarthwatch Mi Watch Lite</a></h4>
                <p class="price"> R$ 400,00 </p>
                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_3-220x330.jpg" alt="Motorola Moto G100" title="Motorola Moto G100" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Motorola Moto G100</a></h4>
                <p class="price"> R$ 3.200,00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
            <div class="product-thumb">
              <div class="image"><a href="product.html"><img src="../../../assets/image/product/macbook_2-220x330.jpg" alt="Mouse Logitech G403" title="Mouse Logitech G403" class="img-responsive" /></a></div>
              <div class="caption">
                <h4><a href="product.html">Mouse Logitech G403</a></h4>
                <p class="price"> R$ 215,00 </p>
              </div>
              <div class="button-group">
                <button class="btn-primary" type="button" onClick=""><span>Adicionar ao Carrinho</span></button>
                <div class="add-to-links">
                  <button type="button" data-toggle="tooltip" title="Adicionar à Lista de Desejos" onClick=""><i class="fa fa-heart"></i></button>
                  <button type="button" data-toggle="tooltip" title="Comparar Produto" onClick=""><i class="fa fa-exchange"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Categories Product Slider End -->
          <img src="" alt="">
          <!-- Brand Logo Carousel Start-->
          <div id="carousel" class="owl-carousel nxt">
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/apple_logo-100x100.jpg" alt="Palm" class="img-responsive" /></a> </div>
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/canon_logo-100x100.jpg" alt="Sony" class="img-responsive" /></a> </div>
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/apple_logo-100x100.jpg" alt="Canon" class="img-responsive" /></a> </div>
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/canon_logo-100x100.jpg" alt="Apple" class="img-responsive" /></a> </div>
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/apple_logo-100x100.jpg" alt="HTC" class="img-responsive" /></a> </div>
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/canon_logo-100x100.jpg" alt="Hewlett-Packard" class="img-responsive" /></a> </div>
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/apple_logo-100x100.jpg" alt="brand" class="img-responsive" /></a> </div>
            <div class="item text-center"> <a href="#"><img src="../../../assets/image/product/canon_logo-100x100.jpg" alt="brand1" class="img-responsive" /></a> </div>
          </div>
          <!-- Brand Logo Carousel End -->
        </div>
        <!--Middle Part End-->
      </div>
    </div>
  </div>
  <!-- Feature Box Start-->
    <div class="container">
      <div class="custom-feature-box row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_1">
            <div class="title">Frete Grátis</div>
            <p>Frete grátis em pedidos acima de R$ 300</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_2">
            <div class="title">Devolução Grátis</div>
            <p>Devolução grátis em até 48 horas após a compra</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_3">
            <div class="title">Vale Presentes</div>
            <p>O presente ideal para quem você ama!</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_4">
            <div class="title">Pontos de Troca</div>
            <p>Game Maníacos ganham pontos para trocar por itens especiais</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Box End-->